@import url("https://fonts.googleapis.com/css?family=Space+Grotesk:var(--qubic-org-space-grotesk-medium-16-font-weight),var(--qubic-org-semantic-link-font-weight),var(--qubic-org-space-grotesk-regular-20-font-weight),var(--qubic-org-semantic-heading-1-font-weight),var(--qubic-org-space-grotesk-regular-16-font-weight),var(--qubic-org-semantic-heading-3-font-weight),700,var(--qubic-org-semantic-heading-2-font-weight),500,400,var(--qubic-org-semantic-heading-5-font-weight)|Inter:500,var(--text-semantic-button-font-weight)");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
      * {
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
      }
      html,
      body {
        margin: 0px;
        height: 100%;
      }
      /* a blue color as a generic focus style */
      button:focus-visible {
        outline: 2px solid #4a90e2 !important;
        outline: -webkit-focus-ring-color auto 5px !important;
      }
      a {
        text-decoration: none;
      }